
.customers{
  margin-left: -250px;
  margin-top: -80px;
  color:#570303;
  position: fixed;
  font-size:26px;
  text-decoration: underline;
}
.admin-page {
    max-width: 800px;
   margin-top: 100px;
   margin-left: 250px;
    margin-bottom: 100px;
    padding: 20px;
    color:#570303;

  }
  
  /* CustomersTable styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #552020;
  }
  
  th {
    background-color: #6d4d29;
    color: white;
  }
  
  .block-button {
    padding: 5px 10px;
    background-color: #956f43;

    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  