body{
  background-color: #D5D2CD;

}
.header{
  background-color: #edf3f1; 
 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); 
 margin-top: -43.5px;
 width: 960%;
 height: 6vh;
 margin-left: -10px;
 }
 
 .nav-list {
   padding: 10px 5px; 
   display: flex;
   align-items:center;
   margin-right: 990px; 
   margin-left: 10px;
   margin-top: -40px;
   position: absolute; 
   letter-spacing: 2.3px;
   justify-content: space-around;
 }


.login{
    width: 100%;
    height: 80vh;
   padding-top: 100px;
}

.login-container{
    width: 300px;
   background-color:#D5D2CD;
   box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3); 
    height: 390px;
    margin: auto;
    margin-left: 480px;
    padding: 30px 40px;
    margin-top: 40px;

}

.logincontainer-h1 {
  text-align: center;
  position: fixed;
  color: #570303;
  margin-left: 600px;
  margin-top: 65px;
}

.login-fields {
    border: none;
    outline: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 90px;
    outline: none;
    margin-bottom: 15px; 
    padding: 8px ;
}

.login-fields input{
  margin-top: 90px;

    height: 32px;
    width:95%;
    padding-left: 10px; 
    padding-right: 0px;
    border: none;
    outline: none;
    border: 1px solid rgb(67, 66, 66);
    outline: none;
    color:#570303;
    padding: 5px;
}
.user-name{
    height: 32px;
    width:95%;
    padding-left: 10px; 
    padding-right: 0px;
    border: none;
    outline: none;
    border: 1px solid rgb(67, 66, 66);
    outline: none;
    color:#570303;
    padding: 5px;
}

.login-fields ::placeholder{
        color:#570303;
        display: inline;
        background: none;
        letter-spacing: 2px;
    
        font-family: 'Jura', sans-serif;
      }
      .login input{
         margin-bottom: 15px; 
           padding: 8px;
        background: transparent;
        border-radius: 6px;
        border: 1px solid rgb(67, 66, 66);
      }
      .login h1{
        text-align: center;
        font-size: 30 px;
        color:#570303;
         letter-spacing: 3px;

      }

      .login-background{
        height: 100vh;
        width: 100%;
      }

      .login-container button {
         width: 100%;
         padding: 10px;
         margin-top: 35px; 
         border: none;
         background-color: #644326;
         color: #fff;
         cursor: pointer;
         transition: background-color 0.3s ease; 
       }
       
       .login-container button:hover {
         background-color: #624327;
       }
       
       
       
       .login-container .login-message {
         margin-top: 15px; 
         text-align: center;
         letter-spacing: 1px;

           color: #570303;
                }
       
       .login-container .login-message .login-link {
         color: #570303; 
         font-size: 17px;
         text-decoration: underline;
         letter-spacing: 1px;
       }
       
       .login-container .login-message .login-link:hover {
         text-decoration: underline;
       }

       .login-link {
        color: #570303;
        text-decoration: none;
      }
      
      .login-link:hover {
        text-decoration: underline;
      } 