/* NavBar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

  body{
    background-color: #D5D2CD;

  }
  
.header{
  background-color: #D5D2CD; /* Background color */
 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); 
 margin-top: -8.5px;
 width: 960%;
 height: 7vh;
 margin-left: -10px;
 }
  
  
.nav-list {
 
    padding: 10px 5px; 
    display: flex;
    align-items:center;
    margin-right: 990px; 
    margin-left: 10px;
    margin-top: 5px;
    position: absolute; 
    letter-spacing: 2.3px;
    justify-content: space-around;


  }
   .nav-list li a{
    text-decoration: none;
    color:#570303;
   }
  
  .nav-list li {
    display: inline-block; 
    margin-right: 20px; 

  } 
  .nav-list :hover {

    
    box-sizing: 2px 2px;

    
  } 

.nav-list .icon {
  width: 50px; 
  height: 50px; 
  position:absolute;
  display: flex;
  margin-left: 2100px;
  justify-content: space-around;


}
.nav-list .icon {


  width: 30px; 
  height: 30px; 
  position:absolute;
  color:#041931; 
  tab-size: 200%;
  display: flex;
  margin-left: 1700px;
 justify-content: space-around;
  zoom: 1.3;



}

.nav-list .icons {
  width: 30px; /* Adjust size as needed */
  height: 30px; 
  position:absolute;
  color:#041931; 
  display: flex;
  zoom: 1.3;
  margin-left: 1650px;
  justify-content: space-around;


   /* Push cart icon to the right */
}

.nav-list.icon :hover{
  background: none;
  text-decoration: none;

}

.icon li {
  display:none; 
  margin-right: 20px; 

}

.nav-list.icons ::after{
  color: rgb(205, 95, 95);
  background-color: none;

}



.shop-now .shop-now-button {
  background-color:#783D08; /* Button background color */
  color: #fff; /* Button text color */
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  margin-top: -650px;
  margin-left: -20%;
  top: 60%; 
    left: 25%;
}

.shop-now .shop-now-button:hover {
  background-color:#b32525;
}

  /* Header.css */



.firstpage{
  display: flex;
  margin: 0;
  margin-bottom: 0;
     height: 80vh;
     width:90%;
     position: absolute; 
     margin-top: 80px;
     margin-right: 50px; 
     margin-left: 770px;
     
}




  








  
